@model Shop.Models.Contact
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~Content/css/style.css" type="text/css">
</head>

<body>
    <!-- Map Begin -->
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29789.257191602017!2d105.76740860939023!3d21.04640005493457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abb158a2305d%3A0x5c357d21c785ea3d!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyDEkGnhu4duIEzhu7Fj!5e0!3m2!1svi!2s!4v1655709004286!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <!-- Map End -->
    <!-- Contact Section Begin -->
    <section class="contact spad" style="padding-top: 50px">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="contact__text">
                        <div class="section-title">
                            <span>Information</span>
                            <h2>Contact Us</h2>
                            <p>
                                As you might expect of a company that began as a high-end interiors contractor, we pay
                                strict attention.
                            </p>
                        </div>
                        <ul>
                            <li>
                                <h4>America</h4>
                                <p>195 E Parker Square Dr, Parker, CO 801 <br />+43 982-314-0958</p>
                            </li>
                            <li>
                                <h4>France</h4>
                                <p>109 Avenue Léon, 63 Clermont-Ferrand <br />+12 345-423-9893</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="contact__form">
                        @using (Html.BeginForm())
                        {
                            <div class="row">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="col-lg-6">
                                    @Html.TextBoxFor(Model => Model.Name, new { @class = "col-lg-12", @placeholder = "Name", @autofocus = "autofocus" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-lg-6">
                                    @Html.TextBoxFor(Model => Model.Email, new { @class = "col-lg-12", @placeholder = "E-mail", @autofocus = "autofocus" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-lg-12">
                                    @Html.TextBoxFor(Model => Model.Mess, new { @class = "col-lg-12", @placeholder = "Mess", @autofocus = "autofocus" })
                                    @Html.ValidationMessageFor(model => model.Mess, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-lg-12">
                                    <button class="site-btn">Send Message</button>
                                </div>
                            </div>                
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

